<table class="table table-hover thead-light">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.ProductName }}</td>
            <td>{{ product.ProductDescription }}</td>
            <td>{{ product.ProductPrice }}</td>
            <td><a [routerLink]="['/edit', product._id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteProduct(product._id)" class="btn btn-danger">Delete</a>
        </tr>
    </tbody>
  </table>